body{
    padding-top:50px;
    padding-bottom: 70px;
    background-color: #f0f0f0;
}
html{
    font-size: 62.5%;
}
.collapsed{
    border: none;
}
.navbar{
    background-color: #29bde0;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#ffffff ;
}
.pull-right{
    width: 24px; height: 40px;
    background: url('css_sprites.png') -212px -10px;
    margin-right:14px;
    position: absolute;
    right:0;
    top:50%;
    transform: translatey(-50%);
}
.row1{
    font-size: 3.4rem;
    font-family: "Hiragino Sans GB";
    color: rgb(154, 154, 154);
    margin:27px 30px;
    height:119px;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    position: relative;
}
.row1 span{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
ul{
    border: 1px solid #c9c9c9;
    margin:0 30px;
    padding: 0;
    background-color: #ffffff;
    position:relative;
}
li{
    list-style: none;
    display:flex;
    justify-content: center;
}
.row2{
    font-size: 4rem;
    font-family: "Hiragino Sans GB";
    color: rgb(251, 180, 53);
    padding:42px 0;
    border-bottom: 2px solid rgb(251, 180, 53);
}
.row3,
.row5,
.row7{
    font-size: 3.4rem;
    font-family: "Hiragino Sans GB";
    color: rgb(255, 255, 255);
    width:85%;
    background-color: #29bde0;
    margin: 28px auto;
    padding:52px 0;
    line-height: 1;
}
.row4,
.row6,
.row8{
    font-size: 2.6rem;
    font-family: "Hiragino Sans GB";
    color: rgb(120, 120, 120);
}
.circle{
    margin:10px 5px;
    width:16px;
    height:16px;
    border-radius: 8px;
    background-color: #f0f0f0;
}
.circle1{
    background-color: #69d1e9;
}
.next-page{
    position:absolute;
    top:50%;
    right:0;
    width: 28px; height: 56px;
    background: url('css_sprites.png') -10px -82px;
}
@media screen and (max-width: 530px){
    html{
        font-size: 40%;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 30%;
    }
    .row1{
        margin:25px;
        height:76px;
    }
    .pull-right{
        margin-right:10px;
    }
    ul{
        border: 1px solid #c9c9c9;
        margin:0 25px;
    }
    .row3,
    .row5,
    .row7{
        height:76px;
        width:85%;
        padding:26px 0;
        margin: 14px auto;
    }
    .row2{
        padding:21px 0;
    }
}